/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: url('/static/img/background.webp'); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
  color: white;
}

.heroBannerCover {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.heroContent {
  position: relative;
  z-index: 1;
}

.descriptionParagraph {
  font-size: 1.2rem;
  line-height: 1.5;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}